{% extends 'base.html' %}

{% block title %}Contacto{% endblock %}

{% load static %}
{% block content %}
<!-- Contenido -->
<main class="main col">
    <!--Titulo de la Marca -->
    <div class="row marca">
        <div class="titulos col-12">
            <h2>Contactanos</h2>
            <h3>Leonesa</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!--Contenido  -->
            <!--Contenido Card -->
            <div class="contenido-service">
                <div class="card text-center">
                    <div class="card-header">

                        <div class="contenido-contacto">
                            <img class="w-100" src="{% static 'img/contact-img69.jpg' %}"
                                alt="">
                            <div class="row contacto justify-content-center">
                                <div class="col-12 col-lg-8">
                                    <h2 class="titulo">No estas solo, escribenos</h2>
                                    <!-- Formulario de contacto -->
                                    <form action="" method="POST">
                                    {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                {{ form.name }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                {{ form.email }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                {{form.content }}
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <input type="submit" class="boton btn-block py-2" value="Enviar">
                                        </div>
                                    <!-- {{ request.POST }} -->
                                    </form>
                                    <!-- Fin formulario de contacto -->

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}