{% extends 'base.html' %}

{% block title %}Lecturas{% endblock %}

{% load static %}
{% block content %}
<main class="main col">
    <!--Titulo de la Marca -->
    <div class="row marca">
        <div class="titulos col-12">
            <h2>Lecturas pensadas en tí</h2>
            <h3>Leonesa</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!--Contenido -->
            <div class="contenido-blog">
                {% for post in posts %}
                <div class="row blog">
                    <div class="text-center rounded">
                        <h2 class="section-heading mb-5">
                            <span class="section-heading-upper">{{ post.created }}</span>
                            <span class="section-heading-lower">{{ post.title }}</span>
                        </h2>
                        <p class="mb-0">
                            <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                                src="{{ post.image.url }}" alt="">
                        </p>                    
                        <p class="texto mb-0 mbt">{{ post.content }}</p>
                        <p class="card-footer">
                            <span>
                                Publicado por <b>R Ponce de León en </b>
                                <a href="#">Lectura</a> - 
                                <a href="#">💚</a>
                            </span>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}