{% extends 'base.html' %}

{% block title %}Sobre mí...{% endblock %}

{% load static %}
{% block content %}
<!-- Contenido -->
<main class="main col">
    <!--Titulo de la Marca -->
    <div class="row marca">
        <div class="titulos col-12">
            <h2>Nuestra historia</h2>
            <h3>Leonesa</h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <!--Contenido -->
            <div class="contenido-historia">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'img/history-img33.jpg' %}"
                    alt="">
                <div class="historia">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower">Nuestra historia</span>
                            </h2>
                            <p>Nacida en el 537 A.C. consectetur adipiscing elit. Donec leo dui, vehicula
                                vel dapibus ac, tempus non enim. Nunc tempor vel lacus vel gravida.
                                Nam sit amet pellentesque mi. </p>
                            <p>Curabitur efficitur pellentesque tellus nec volutpat. In viverra
                                mattis sem, facilisis condimentum mi rutrum ut. Quisque ut
                                pellentesque dui.Nullam eu vehicula metus. Pellentesque id interdum
                                elit. Aenean in efficitur enim.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}