{% extends 'base.html' %}

{% block title %}{% endblock %}

{% load static %}
{% block content %}
<!-- Contenido -->
<main class="main col">
    <!--Titulo de la Marca -->
    <div class="row marca">
        <div class="titulos col-12">
            <h2>¿Qué es la consultoria folosofica?</h2>
            <h3>Leonesa</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!--Contenido-->
            <!--Contenido Card -->
            <div class="contenido-service">
                <div class="card text-center">
                    <div class="card-header">

                        <div class="contenido">
                            <section class="page-section clearfix">
                                <div class="container">
                                    <div class="intro">
                                        <div class="intro-text left-5 text-center bg-faded  rounded">
                                            <h2 class="section-heading mb-4">
                                                <span class="section-heading-upper">Es una poderosa herramienta</span>
                                                <span class="section-heading-lower">El dialogo filosofico</span>
                                            </h2>
                                            <p class="mb-3">
                                                La consultoria en lugar de centrarse en problemas psicológicos o emocionales, la consultoría filosófica se centra en cuestiones más amplias relacionadas con el sentido de la vida, la ética, la toma de decisiones, la búsqueda de la felicidad y otros temas filosóficos.
                                            </p>
                                            <a class="intro-button" href="{% url 'visit' %}">Visítanos</a>
                                        </div>
                                        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/pilares-atenas.jpg' %}"
                                            alt="">
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>


                <!-- Mensaje -->
                <section class="page-section cta">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 mx-auto">
                                <div class="cta-inner text-center rounded">
                                    <h2 class="section-heading mb-4">
                                        <span class="section-heading-upper">Compromiso total</span>
                                        <span class="section-heading-lower">Garantizado</span>
                                    </h2>
                                    <p class="mb-0">Sed pulvinar blandit elit id venenatis. Ut eget lacus
                                        neque.
                                        Nullam justo quam,
                                        efficitur
                                        nec turpis vitae, efficitur posuere ligula. Proin ut turpis orci.
                                        Aenean
                                        porta sodales lectus
                                        faucibus
                                        pellentesque. In sed felis iaculis, rhoncus felis a, maximus mi.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
{% endblock %}